extends layout2

block main
  h2 Assignments
  h3 #{assignment ? 'Edit' : 'Create'} Assignment
  if assignment
    - var formAction = '/' + params.username + '/' + params.courseLabel + '/' + params.assignmentAbbr
  else
    - var formAction = '/' + params.username + '/' + params.courseLabel + '/assignment'

  form#assignment-edit(name='assignment-edit', method='post', action=formAction)
    .form-group
      label.col-md-2.control-label Name
      .col-md-8.col-md-offset-2
        input.form-control(
          type='text',
          name='name',
          placeholder='e.g. Project 1, Programming Assignment 3',
          value=(assignment ? assignment.name : '')
        )
    .form-group
      label.col-md-2.control-label Abbreviation
      .col-md-8.col-md-offset-2
        input.form-control(
          type='text',
          name='abbr',
          placeholder='e.g. W15P3, project-1, pa3',
          maxlength=10,
          value=(assignment ? assignment.abbr : '')
        )
    .form-group
      label.col-md-2.control-label Team Creation Method
      .col-md-8.col-md-offset-2
        input.form-control(
          type='text',
          name='createTeams',
          placeholder='choose one of: solo, manual, random, or optin',
          value=(assignment ? assignment.create_teams : '')
        )
    .form-group
      label.col-md-2.control-label Minimum Team Size
      .col-md-8.col-md-offset-2
        input.form-control(
          type='text',
          name='minTeamSize',
          placeholder='e.g. 1',
          value=(assignment ? assignment.min_team_size : '')
        )
    .form-group
      label.col-md-2.control-label Maximum Team Size
      .col-md-8.col-md-offset-2
        input.form-control(
          type='text',
          name='maxTeamSize',
          placeholder='e.g. 5 or leave blank to set max = min',
          value=(assignment ? assignment.max_team_size : '')
        )
    .form-group
      .col-md-2
        button.btn.btn-success(type='submit') #{assignment ? 'Edit' : 'Create'} Assignment
      .col-md-8.col-md-offset-2
        if assignment
          a.btn.btn-default(href='/#{params.username}/#{params.courseLabel}/#{params.assignmentAbbr}') Cancel
        else
          a.btn.btn-default(href='/#{params.username}/#{params.courseLabel}') Cancel
