extends layout2

block main

  h4
    a(href='.') Data Structures & Algorithms
  h2= assignment.name + ' (' + assignment.abbr + ')'
  case assignment.create_teams
    when 'solo'
      p Individuals only (no teams)
    when 'random'
      p Randomly generated teams (max size: #{assignment.max_team_size})
    when 'manual'
      p Instructor created teams
    when 'optin'
      p Student formed teams (#{assignment.min_team_size}#{assignment.max_team_size === assignment.min_team_size ? '' : "-" + assignment.max_team_size} members)
  p
    a.btn.btn-default(href='/#{user.username}/#{course_label}/#{assignment.abbr}/edit') edit assignment
  form#delete-assignment(name='delete-assignment', method='post', action='/#{user.username}/#{course_label}/#{assignment.abbr}/delete')
    .form-group
      button.btn.btn-danger(type='submit') delete assignment

  case assignment.create_teams
    when 'manual'
      h3 Team Repos(#{teams.length})
      ul
        each team in teams
          li
            team.name
    when 'random'
      h3 Team Repos(#{teams.length})
      ul
        each team in teams
          li
            team.name
    when 'solo'
      h3 Individual Repos
    when 'optin'
      h3 Team Repos(#{teams.length})
      ul
        each team in teams
          li
            team.name
