extends layout2

block main

  h4
    a(href='.') Data Structures & Algorithms
  h2= assignment.name + " (" + assignment.abbr + ")"
  p Teams: #{assignment.min_team_size}#{assignment.max_team_size === assignment.min_team_size ? '' : "-" + assignment.max_team_size} members (#{assignment.create_teams === "manual" ? "Instructor Created" : (assignment.create_teams === "random" ? "Randomly Generated" : "Student Formed")})
  p
    a(href='/' + params.username + '/' + params.courseLabel + '/' + assignment.abbr + '/edit') edit assignment
  p
   | delete assignment

  h3 Teams(#{teams.length})
  ul
    each team in teams
      li
        team.name
