extends layout2

mixin assignment(assignment)
  li.list-group-item.assignment.js-toggle-container
    span.list-item-name
      strong
        a(href='/#{user.username}/#{course.label}/#{assignment.abbr}')= assignment.name

mixin staff_member(user)
  li.list-group-item.staff_member.js-toggle-container
    span.list-item-name
      img.avatar.s24(src='#{user.avatar || "/static/img/no_avatar.png"}')
      strong
        a(href='/#{user.username}') #{user.username}
      | &nbsp;
      span #{user.display_name}
    span.pull-right
      strong Access
      button.btn.btn-xs.js-toggle-button(title='Edit access level') &nbsp;
      a.btn.btn-xs.btn-remove(data-confirm='Are you sure?', title='Remove user', rel='nofollow', data-method='delete', href='/remove/this/member')
        i.fa.fa-minus.fa-inverse

mixin student(user)
  li.list-group-item.student.js-toggle-container
    span.list-item-name
      img.avatar.s24(src='#{user.avatar || "/static/img/no_avatar.png"}')
      strong
        a(href='/#{user.username}') #{user.username}
      span #{user.display_name}
    span.pull-right
      a.btn.btn-xs.btn-remove(data-confirm='Are you sure?', title='Remove user', rel='nofollow', data-method='delete', href='/remove/this/member')
        i.fa.fa-minus.fa-inverse

block main

  .container
    h2= course.name ? course.name : course.label
    p
      a.btn.btn-default(href='/#{user.username}/#{course.label}/edit') edit course
    form#delete-course(name='delete-course', method='post', action='/#{user.username}/#{course.label}/delete')
      .form-group
        button.btn.btn-danger(type='submit') delete course

  .container
    ul.nav.nav-tabs
      li.active
        a(href='#1', data-toggle='tab') Assignments(#{assignments.length})
      li
        a(href='#2', data-toggle='tab') Staff(#{staff.length})
      li
        a(href='#3', data-toggle='tab') Roster(#{roster.length})

    .tab-content
      //- Assignment Tab
      .tab-pane.active#1
        //- Add new assignment
        a.btn.btn-success(href="/#{user.username}/#{course.label}/assignment")
          span.glyphicon.glyphicon-plus
          | New Assignment
        //- Assignment listing
        .panel.panel-default
          .panel-heading
            strong Assignments
          ul.list-group
            each assignment in assignments
              +assignment(assignment)

      //- Staff Tab
      .tab-pane#2 
        //- Add staff members
        form#add-staff(name='add-staff', method='post', action='/#{user.username}/#{course.label}/staff')
          .form-group
            label.col-md-2.control-label Include Staff Members
            textarea.form-control(
              name='members',
              placeholder='Insert uniqnames here separated by commas and/or whitespace'
            )
          .form-group
            button.btn.btn-success(type='submit')
              span.glyphicon.glyphicon-plus
              | Include Staff Members
        //- Staff member listing
        .panel.panel-default
          .panel-heading
            strong Staff Members
          ul.list-group
            each member in staff
              +staff_member(member)
 
      //- Roster Tab
      .tab-pane#3
        //- Add students
        form#add-roster(name='add-roster', method='post', action='/#{user.username}/#{course.label}/roster')
          .form-group
            label.col-md-2.control-label Include Students
            textarea.form-control(
              name='students',
              placeholder='Insert uniqnames here separated by commas and/or whitespace'
            )
          .form-group
            button.btn.btn-success(type='submit')
              span.glyphicon.glyphicon-plus
              | Include Students
        //- Student roster listing
        .panel.panel-default
          .panel-heading
            strong Student Roster
          ul.list-group
            each student in roster
              +student(student)
